@model Application.ViewModel.UserSide.ProductViewModel;

@{
    Layout = "_AdminLayout";
}


<form asp-area="Admin" asp-controller="Games" asp-action="EditGame" enctype="multipart/form-data">

    <input type="type" hidden  asp-for="Game.Id"/>

<div class="single-product-tab-area mg-b-30">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            <li class="active"><a href="#description"><i class="icon nalika-edit" aria-hidden="true"></i> Product Edit</a></li>
                            <li class=""><a href="#reviews"><i class="icon nalika-picture" aria-hidden="true"></i> Pictures And Trailr</a></li>
                            <li><a href="#INFORMATION"><i class="icon nalika-chat" aria-hidden="true"></i> Platforms And Genres</a></li>
                        </ul>

                        <div id="myTabContent" class="tab-content custom-product-edit">

                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="review-content-section">

                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                <input type="text" required class="form-control" asp-for="@Model.Game.Name" placeholder="Product Title">
                                                   
                                            </div>
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                                                <input type="number" required class="form-control" asp-for="@Model.Game.Price" placeholder="Regular Price">
                                            </div>

                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon"><i class="icon nalika-favorites" aria-hidden="true"></i></span>
                                                <input type="number" required class="form-control" asp-for="@Model.Game.Quantity" placeholder="Quantity">
                                            </div>

                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon"><i class="icon nalika-favorites-button" aria-hidden="true"></i></span>  
                                                    <textarea rows="5" required class="form-control" asp-for="Game.Description" placeholder="Product Description"></textarea>
                                            </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                    <input type="text" required class="form-control" asp-for="@Model.Game.Company" placeholder="Company">
                                                </div>
                                        </div>
                                    </div>
                                     


                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                        <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                    <input type="date" required class="form-control" asp-for="@Model.Game.ReleaseDate" placeholder="Relese Date">
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                    <textarea required rows="5"  class="form-control" asp-for="@Model.Game.SystemRequirements" placeholder="System Requirment"> </textarea>
                                                </div>

                                            <select asp-for="@Model.Game.selectedStatus" required style="margin-bottom:10px;"  class="form-control pro-edt-select form-control-primary">
                                                <option  value="">Select Status</option>
                                                    @foreach (var status in Html.GetEnumSelectList<Domain.entities.GamePart.Game.GameStatus>())
                                                    {
                                                    
                                                        <option  value="@status.Value">@status.Text</option>
                                                    }

                                            </select>
                                             

                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon"><i class="icon nalika-favorites-button" aria-hidden="true"></i></span>
                                                <input style="background-color:#152036;" readonly type="text" class="form-control" placeholder="Select Rating"> </input>

                                            </div>

                                                <div class="stars stars-example-css detail-stars">
                                                    <div  class="review-rating">
                                                        <fieldset  class="rating">
                                                            <input  asp-for="Game.Rating" type="radio" id="star5" value="5">
                                                            <label class="full" for="star5"></label>
                                                            <input asp-for="Game.Rating" type="radio" id="star4half" value="4.5">
                                                            <label class="half" for="star4half"></label>
                                                            <input asp-for="Game.Rating" type="radio" id="star4" value="4">
                                                            <label class="full" for="star4"></label>
                                                            <input asp-for="Game.Rating" type="radio" id="star3half" value="3.5">
                                                            <label class="half" for="star3half"></label>
                                                            <input asp-for="Game.Rating" type="radio" id="star3" value="3">
                                                            <label class="full" for="star3"></label>
                                                            <input asp-for="Game.Rating" type="radio" id="star2half" value="2.5">
                                                            <label class="half" for="star2half"></label>
                                                            <input asp-for="Game.Rating" type="radio" id="star2" value="2">
                                                            <label class="full" for="star2"></label>
                                                            <input asp-for="Game.Rating" type="radio" id="star1half" value="1.5">
                                                            <label class="half" for="star1half"></label>
                                                            <input asp-for="Game.Rating" type="radio" id="star1" value="1">
                                                            <label class="full" for="star1"></label>
                                                            <input asp-for="Game.Rating" type="radio" id="starhalf" value="0.5">
                                                            <label class="half" for="starhalf"></label>
                                                        </fieldset>
                                                    </div>
                                                    <span asp-validation-for="@Model.Game.Rating" class="text-danger"></span>
                                                    <div class="clear"></div>
                                                </div>
                                        </div>




                                    </div>


                                </div>

                        
                            </div>

                            <div class="product-tab-list tab-pane fade" id="reviews">

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <!-- Video -->
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="pro-edt-img">
                                                            <div  class="mb-3 text-center">
                                                                @if (Model.Game.Trailer.Any())
                                                                {
                                                                    <video id="video-preview" style="width:80%" height="100%" controls src="~/assets/Trailers/@Model.Game.Trailer" alt="Trailer Preview"> </video>
                                                                }
                                                                else
                                                                {
                                                                    <video id="video-preview" style="width:80%" height="100%" controls src="~/assets/Trailers/trailer.mp3" alt="Trailer Preview"> </video>
                                                                }
                                                             
                                                            
                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8" >
                                                 
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                         
                                                            <div class="product-edt-pix-wrap">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">TT</span>
                                                                    <input type="text" class="form-control" placeholder="Add Game Trailer" readonly style="color:#152036; background-color:#152036;">
                                                                </div>


                                                                <div class="row">

                                                                    <div class="col-lg-6">
                                                                        <div class="product-edt-remove">
                                                                            <a asp-area="admin" asp-controller="Users" asp-action="DeleteUserAvatar" asp-route-Id="" style="margin-bottom: 20px; margin-top:20px;" type="button" class="btn btn-ctl-bt waves-effect waves-light" onclick="return confirm('are you sure you want Delete User Avatar ?')">
                                                                                Remove
                                                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                                            </a>
                                                                            <br />

                                                                                <input  type="file" asp-for="@Model.Game.VideoFile" class="btn btn-ctl-bt waves-effect waves-light" accept="video/*" id="video-file" onchange="previewVideo()">
                                                                       


                                                                        </div>



                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                 

                                                </div>
                                            </div>
                                            <!--Video End-->
                                            <hr />


                                            <!--Image -->

                                             
                                                @{
                                                    var index = 0; // To keep track of the screenshot index
                                                }

                                                @foreach (var screen in Model.Game.ScreenShots)
                                                {
                                                    <div class="row image-row">
                                                        <div class="col-lg-4">
                                                            <div class="pro-edt-img">
                                                                <div class="mb-3 text-center">
                                                                    <img id="preview@(index)" src="~/assets/images/GameImages/@screen" alt="Image Preview">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="product-edt-pix-wrap">
                                                                <div class="input-group">
                                                                    <input type="file" asp-for="@Model.Game.FormFiles" class="form-control" onchange="previewImage(event, @(index))">
                                                                </div>
                                                                <br />
                                                                <div class="product-edt-remove">
                                                                    <button class="btn btn-ctl-bt waves-effect waves-light" onclick="deleteImage(@(index))">
                                                                        Remove
                                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    index++;
                                                }

                                                <div class="row image-row" id="newImageRow" style="display: none;">
                                                    <div class="col-lg-4">
                                                        <div class="pro-edt-img">
                                                            <div class="mb-3 text-center">
                                                                <img id="previewNew" src="" alt="Image Preview">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="product-edt-pix-wrap">
                                                            <div class="input-group">
                                                                <input asp-for="@Model.Game.FormFiles" class="form-control" id="newImage" onchange="previewNewImage()">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <button id="addImageRowBtn" class="btn btn-primary" type="button" onclick="addNewImageRow()">Add Image</button>


                                        
                                                
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="product-tab-list tab-pane fade" id="INFORMATION">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="product-edt-pix-wrap">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">TT</span>
                                                            <input type="text" class="form-control" placeholder="Select At Least 1 Platform">
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-radio">
                                                                    @foreach (var plats in  Model.AllPlatforms)
                                                                    {
                                                                            if(Model.Platforms.Any(x=> x.Id == plats.Id))
                                                                            {
                                                                                <br />
                                                                                <div style="margin:0px;" class="radio radiofill">
                                                                                    <label>
                                                                                        <input checked type="checkbox" value="@plats.Id" name="selectedPlatforms"><i class="helper"></i>@plats.Name
                                                                                    </label>
                                                                                </div>
                                                                                <br />
                                                                            }
                                                                            else
                                                                            {
                                                                                <br />
                                                                                <div style="margin:0px;" class="radio radiofill">
                                                                                    <label>
                                                                                        <input type="checkbox" value="@plats.Id" name="selectedPlatforms"><i class="helper"></i>@plats.Name
                                                                                    </label>
                                                                                </div>
                                                                                <br />
                                                                            }

                                                                    }

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="product-edt-pix-wrap">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">TT</span>
                                                            <input type="text" class="form-control" placeholder="Select At Least 1 Genre">
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-radio">
                                                                    @foreach (var genres in Model.AllGenres)
                                                                    {
                                                                            if(Model.Genres.Any(x=> x.Id == genres.Id))
                                                                            {
                                                                                <br />
                                                                                <div style="margin:0px;" class="radio radiofill">
                                                                                    <label>
                                                                                        <input checked type="checkbox" value="@genres.Id" name="SelectedGenres"><i class="helper"></i>@genres.GenreName
                                                                                    </label>
                                                                                </div>
                                                                                <br />
                                                                            }
                                                                            else
                                                                            {
                                                                                <br />
                                                                                <div style="margin:0px;" class="radio radiofill">
                                                                                    <label>
                                                                                        <input type="checkbox" value="@genres.Id" name="SelectedGenres"><i class="helper"></i>@genres.GenreName
                                                                                    </label>
                                                                                </div>
                                                                                <br />
                                                                            }

                                                                    }


                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="footer-copyright-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center custom-pro-edt-ds">
                        <button type="submit" class="btn btn-ctl-bt waves-effect waves-light m-r-10">
                            Save
                        </button>
                        <a asp-area="Admin" asp-controller="Games" asp-action="ListOfGames" type="submit" class="btn btn-ctl-bt waves-effect waves-light">
                            Discard
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>

<script>
    function previewImage(event) {
        const input = event.target;
        const preview = document.getElementById('preview');
        const file = input.files[0];
        const reader = new FileReader();

        reader.onload = function () {
            preview.src = reader.result;
        };

        reader.readAsDataURL(file);
    }
</script>





@* <script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('addImageRowBtn').addEventListener('click', addNewImageRow);
    });

    function addNewImageRow(event) {
        event.preventDefault(); // Prevent default form submission

        // Clone the existing image row
        const newRow = document.querySelector('.image-row').cloneNode(true);

        // Clear input field if needed
        newRow.querySelector('input[type="file"]').value = '';

        // Append the cloned row to the container
        document.getElementById('imageRowsContainer').appendChild(newRow);
    }
</script> *@
<script>
    function previewImage(event, index) {
        const input = event.target;
        const preview = document.getElementById('preview' + index);
        const file = input.files[0];
        const reader = new FileReader();

        reader.onload = function () {
            preview.src = reader.result;
        };

        reader.readAsDataURL(file);
    }

    function deleteImage(index) {
        // Remove the corresponding image row
        const row = document.getElementById('preview' + index).closest('.row');
        row.parentNode.removeChild(row);
    }

    function addNewImageRow() {
        const newRow = document.getElementById('newImageRow').cloneNode(true);
        newRow.style.display = 'flex'; // Display the new row
        newRow.removeAttribute('id'); // Remove the ID to prevent duplication

        // Clear input field in the new row
        newRow.querySelector('input[type="file"]').value = '';

        // Append the new row before the "Add Image" button
        document.getElementById('addImageRowBtn').before(newRow);
    }

    function previewNewImage() {
        const input = document.getElementById('newImage');
        const preview = document.getElementById('previewNew');
        const file = input.files[0];
        const reader = new FileReader();

        reader.onload = function () {
            preview.src = reader.result;
        };

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>

<!--Video Script-->
<script>
    function previewVideo() {
        const videoFile = document.getElementById('video-file').files[0];
        const videoPreview = document.getElementById('video-preview');

        if (videoFile) {
            const videoURL = URL.createObjectURL(videoFile);
            videoPreview.src = videoURL;
            videoPreview.style.display = 'block';
        } else {
            videoPreview.src = '';
            videoPreview.style.display = 'none';
        }
    }
</script>

<style>
    .text-danger {
        color: #dc3545; /* Red color for error messages */
        font-size: 0.875rem; /* Adjust font size as needed */
        margin-top: 0.25rem; /* Add some spacing between the input and error message */
    }
</style>
