@model List<Application.DTOs.UserSide.StorePart.StoreDto>;

@{
    Layout = "_Layout";
}


<div class="nk-main">

    <!-- START: Breadcrumbs -->
    <div class="nk-gap-1"></div>
    <div class="container">
        <ul class="nk-breadcrumbs">


            <li><a asp-controller="Home" asp-action="Index">Home</a></li>


            <li><span class="fa fa-angle-right"></span></li>

            <li><span>Store</span></li>

        </ul>
    </div>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->




    <div class="container">
        <!-- START: Categories -->
        <div class="container">
            <div class="row vertical-gap">
                <div class="col-lg-4">
                    <div class="nk-feature-1">
                        <div class="nk-feature-icon">
                            <img src="~/assets/images/icon-mouse.png" alt="">
                        </div>
                        <div class="nk-feature-cont">
                            <h3 class="nk-feature-title"><a asp-controller="Store" asp-action="Catalog">Games</a></h3>
                            <h3 class="nk-feature-title text-main-1"><a asp-controller="Store" asp-action="Catalog">View Games</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="nk-feature-1">
                        <div class="nk-feature-icon">
                            <img src="~/assets/images/icon-gamepad.png" alt="">
                        </div>
                        <div class="nk-feature-cont">
                            <h3 class="nk-feature-title"><a asp-controller="Home" asp-action="ContactUs">About Us</a></h3>
                            <h3 class="nk-feature-title text-main-1"><a asp-controller="Home" asp-action="AboutUs">About Us</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="nk-feature-1">
                        <div class="nk-feature-icon">
                            <img src="~/assets/images/icon-gamepad-2.png" alt="">
                        </div>
                        <div class="nk-feature-cont">
                            <h3 class="nk-feature-title"><a asp-action="SignUp" asp-controller="Account">Sign Up</a></h3>
                            <h3 class="nk-feature-title text-main-1"><a asp-action="SignUp" asp-controller="Account">Lets Go</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        <!-- END: Categories -->
        <!-- START: Some Products -->
        <div class="nk-gap-3"></div>
        <div class="nk-widget">
            <div class="nk-widget-content">
                <form asp-action="catalog" asp-controller="Store" method="post" class="nk-form nk-form-style-1" novalidate="novalidate">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Type something..." name="search">
                        <button class="nk-btn nk-btn-color-main-1"><span class="ion-search"></span></button>
                    </div>
                </form>
            </div>
        </div>

        <div class="nk-gap-3"></div>
        <h3 class="nk-decorated-h-2"><span><span class="text-main-1">the newest</span>Games</span></h3>

        <div class="nk-gap-2"></div>

        @{
      
            var games6 = Model.OrderByDescending(x => x.ReleaseDate).ToList();

        }


        <div class="row vertical-gap">

            @foreach (var game in games6)
            {

                <div class="col-md-6 col-lg-4">
                    <div class="nk-gallery-item-box">

                        <a asp-controller="Store" asp-action="Product" asp-route-Id="@game.Id" class="nk-gallery-item">
                            <span class="nk-gallery-item-overlay"><span><span class="nk-icon-circles"></span></span></span>
                            @if (game.Screenshots.Any())
                            {
                                
                            <img src="assets/images/GameImages/@game.Screenshots.First()" alt="none" style="background: url('assets/images/@game.Screenshots.First()') no-repeat center fixed; background-size:cover width: 400px; height: 399px;">
                            }
                        </a>
                        <div class="nk-gallery-item-label">
                            <h4 class="mb-0">@game.Name</h4>
                        </div>
                    </div>
                </div>

            }





        </div>


        <!-- END: Some Products -->
        <!-- START: Top 10 Best Sellers -->
        <!-- END: Top 10 Best Sellers -->
        <!-- START: Featured Games -->
        <div class="nk-gap-3"></div>
        <a asp-controller="Store" asp-action="Catalog" class="nk-btn nk-btn-rounded nk-btn-color-main-1" style="width: 100%; padding:19px; display: block; ">Our Catalog</a>

        <!-- END: Featured Games -->
        <!-- START: Most Popular -->
        <div class="nk-gap-3"></div>
        <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Most</span> Popular</span></h3>
        <div class="nk-gap"></div>
        <div class="row vertical-gap">

            @{

                var top6 = Model.OrderByDescending(x => x.Rating).Take(6);
            }

            @foreach (var Game in top6)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="nk-product-cat">

                        @if (Game.Screenshots.Any())
                        {
                            var firstscreenshot = Game.Screenshots.First();
                            <a class="nk-product-image" asp-controller="Store" asp-action="Product" asp-route-Id="@Game.Id">
                                <img src="assets/images/GameImages/@firstscreenshot" alt="none" style="widt:100%; height:205px;">
                            </a>
                        }
                        <div class="nk-product-cont">

                            <h3 class="nk-product-title h5"><a href="store-product.html">@Game.Name</a></h3>
                            <div class="nk-gap-1"></div>
                            @{
                                // Calculate the number of full stars and half star based on the Rating value
                                int fullStars = (int)Math.Floor(Game.Rating);
                                bool hasHalfStar = Game.Rating - fullStars >= 0.5;
                            }

                            <div class="nk-product-rating" data-rating="@Game.Rating">
                                @for (int i = 0; i < 5; i++)
                                {
                                    if (i < fullStars)
                                    {
                                        // Render full star icon
                                        <i class="fa fa-star"></i>
                                    }
                                    else if (hasHalfStar && i == fullStars)
                                    {
                                        // Render half star icon
                                        <i class="fas fa-star-half"></i>
                                    }
                                    else
                                    {
                                        // Render empty star icon
                                        <i class="far fa-star"></i>
                                    }
                                }
                            </div>

                            <div class="nk-gap-1"></div>
                            <div class="nk-product-price">€ @Game.Price</div>
                            <div class="nk-gap-1"></div>
                            <a class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1" asp-controller="Store" asp-action="Product" asp-route-Id="@Game.Id">Show Game</a>
                        </div>
                    </div>
                </div>
            }






        </div>
        <!-- END: Most Popular -->
    </div>

    <div class="nk-gap-2"></div>





</div>






